{{#if errors}}
{{#each errors}}
<div class="ui negative message">{{msg}}</div>
{{/each}}
{{/if}}

{{#if rooms}}
{{reverse rooms}}


<div class="ui segment" id="cards">
	<div class="ui right rail">
		<div class="ui sticky">
			<div class="ui dropdown" id="select">
				<div class="text" data-value="333">Rubik's Cube</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="item" data-value="333">Rubik's Cube</div>
					<div class="item" data-value="222">2x2 Cube</div>
					<div class="item" data-value="444">4x4 Cube</div>
					<div class="item" data-value="555">5x5 Cube</div>
					<div class="item" data-value="666">6x6 Cube</div>
					<div class="item" data-value="777">7x7 Cube</div>
					<div class="item" data-value="minx">Megaminx</div>
					<div class="item" data-value="pyram">Pyraminx</div>
					<div class="item" data-value="sq1">Square-1</div>
					<div class="item" data-value="clock">Rubik's Clock</div>
					<div class="item" data-value="333bf">3x3 Blindfolded</div>
					<div class="item" data-value="444bf">4x4 Blindfolded</div>
					<div class="item" data-value="555bf">5x5 Blindfolded</div>
				</div>	 
			</div>
		</div>
	</div>
	<div class="ui centered link cards">
		{{#each rooms}}
		{{#if password}}
		<div class="card {{event}}">
			<div class="image">
				<img src="https://semantic-ui.com/images/wireframe/image.png">
			</div>
			<div class="content">
				<a class="header">{{name}}</a>
				<div class="meta">{{event}}</div>
			</div>
			<div class="ui bottom attached button" onClick="$('#passwordNeeded').modal('show'); $('#passwordNeeded form').append('<div>').addClass('field').append('<input type=\'hidden\' name=\'id\' value=\'{{_id}}\'>')">
				<i class="add icon"></i>
				Join Room
			</div>
		</div>
		{{else}}
		<div class="card {{event}}">
			<div class="image">
				<img src="https://semantic-ui.com/images/wireframe/image.png">
			</div>
			<div class="content">
				<a class="header">{{name}}</a>
				<div class="meta">{{event}}</div>
			</div>
			<form action="/rooms/pass" method="post">
			<input type='hidden' name='id' value='{{_id}}'>
			<div class="ui bottom attached button" onClick="this.parentNode.submit()">
				<i class="add icon"></i>
				Join Room
			</div>
			</form>
		</div>
		{{/if}}
		{{/each}}
	</div>
</div>
{{/if}}



<div id="listOfRooms"></div>

<button type="button" class="ui button" onClick="$('#newRoom').modal('show')">
	New room
</button>



<div class="ui modal" id="passwordNeeded">
	<i class="close icon"></i>
	<div class="header">
		Password required
	</div>
	<div class="content">
		<form class="ui form passneeded" method="post" action="/rooms/pass/">
			<div class="field">
				This room requires a password to enter.
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" class="form-control" name="password" placeholder="Name">
			</div>
			<button type="submit" class="ui button">Submit</button>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<!-- Modal -->
<div class="ui modal" id="newRoom">
	<i class="close icon"></i>
	<div class="header">
		Create a new room
	</div>
	<div class="content">
		<form class="ui form newroom" method="post" action="/rooms">
			<div class="field">
				<label>Room Name</label>
				<input type="text" class="form-control" name="name" placeholder="Name">
			</div>
			<div class="field">
				<label>Event</label>
				<div class="ui selection dropdown" name="event" form="newroom">
					<input type="hidden" name="event">
					<div class="default text">Select</div>
					<i class="dropdown icon"></i>
					<div class="menu">
						<div class="item" data-value="333">Rubik's Cube</div>
						<div class="item" data-value="222">2x2x2 Cube</div>
						<div class="item" data-value="444">4x4x4 Cube</div>
						<div class="item" data-value="555">5x5x5 Cube</div>
						<div class="item" data-value="666">6x6x6 Cube</div>
						<div class="item" data-value="777">7x7x7 Cube</div>
						<div class="item" data-value="333oh">3x3 One-Handed</div>
						<div class="item" data-value="333bf">3x3 Blindfolded</div>
						<div class="item" data-value="pyram">Pyraminx</div>
						<div class="item" data-value="sq1">Square-1</div>
						<div class="item" data-value="minx">Megaminx</div>
						<div class="item" data-value="skewb">Skewb</div>
						<div class="item" data-value="clock">Rubik's Clock</div>
					</div>
				</select>
			</div>
			<div class="field">
				<label>Password (Optional)</label>
				<input type="password" class="form-control" name="password" placeholder="Password">
			</div>
			<button type="submit" class="ui button">Submit</button>
			<div class="ui error message"></div>
		</form>
	</div>
</div>

<script type="text/javascript">
	$('.card').hide();
	$('.card.333').show();
	$('.ui.form.passneeded').form({
		fields: {
			password : 'empty',
		}
	});
	$('.ui.form.newroom').form({
		fields: {
			name 	 : 'empty',
		}
	});
	$('.ui.dropdown').dropdown();
	$('#select').dropdown({
		onChange: function(value, text, $choice) {
			$('.card').hide();
			$('.card.' + value).show();
		}
	});
	$('.ui.sticky').sticky({
		context: "#cards"
	})

</script>